body {
  background-color: black;
}
h1, h2, p {
  font-family: Verdana;
  text-align: center;
}
#downloadLink {
  color: Aquamarine;
  font-size: 16px;
}
h1, h2 {
  color: white;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
#summary  {
  color: Gray;
  font-size: 21px;
}
